* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background: white;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}
.left_side {
  position: relative;
  background: #003147;
  padding: 40px;
}
.right_side {
  position: relative;
  background: white;
  padding: 40px;
}
.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.image-box {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.image-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile h2 {
  color: white;
  font-size: 1.5em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}
.profile span {
  color: rgb(190, 188, 188);
  font-size: 0.65em;
  font-weight: 300;
}
.profile h4 {
  color: rgb(190, 188, 188);
  font-size: 0.9em;
  font-weight: 300;
  text-align: center;
}
.about-me {
  padding-top: 40px;
}
.about-me h3 {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.about-me .desc {
  color: rgb(190, 188, 188);
  font-weight: 200;
}
.contact-info {
  padding-top: 40px;
}
.title {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.contact-info ul {
  position: relative;
}
.contact-info ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}
.contact-info ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #03a9f4;
}
.contact-info ul li span {
  color: rgb(190, 188, 188);
  font-weight: 200;
}
.contact-info ul li span a {
  color: rgb(190, 188, 188);
  text-decoration: none;
}

.contact-info ul li span a:hover,
a:focus {
  color: deeppink;
}
.contact-info.skills .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background: rgb(13, 13, 34);
  display: block;
  margin-top: 5px;
}
.contact-info.skills .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #03a9f4;
}
.right_side .block {
  padding-top: 20px;
}
.right_side .block .title {
  position: relative;
  color: rgb(13, 13, 34);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.right_side .block .title:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 60%;
  height: 0.3rem;
  background-color: rgb(13, 13, 34);
}
.block .data {
  display: flex;
}
.block .data .left {
  padding-right: 35px;
  width: 200px;
  position: relative;
}
.block .data .content {
  padding-left: 35px;
  margin-bottom: 20px;
  width: calc(100% - 250px);
}
.block .data .left::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  width: 10px;
  height: 10px;
  background: #fff;
  border: 1px solid #2625ed;
  border-radius: 50%;
}
.block .data .left::after {
  content: "";
  position: absolute;
  top: 17px;
  right: 4px;
  width: 3px;
  height: 90%;
  background: #0175b2;
}
.block .item {
  padding: 10px;
}
.block ul {
  list-style-type: circle;
}
@media only screen and (max-width: 280px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .right_side .block .title:after {
    visibility: hidden;
  }
  .block .data .left {
    padding-right: 0px;
    width: 200px;
    position: relative;
  }
  .block .data .content {
    padding-left: 0px;
    margin-bottom: 0px;
    width: calc(100% - 0px);
  }
  .block .data .left::before {
    visibility: hidden;
  }
  .block .data .left::after {
    visibility: hidden;
  }
  .block .data {
    display: block;
  }
  .right_side .block .title {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .right_side .block .title:after {
    width: 40%;
  }
  .block .data .left {
    padding-right: 35px;
    width: 100px;
    position: relative;
  }
}
@media only screen and (max-width: 768px) {
  .left_side {
    grid-column: span 3;
  }
  .right_side {
    grid-column: span 4;
  }
}
